SmoothMovesTest/
Assets/SmoothMoves
.DS_Store
Library
Library/metadata
Library/ScriptAssemblies
Library/guidmapper
Library/assetDatabase3
Library/*.dwlt
Library/expandedItems
Temp/*
*.sln
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs